p{
    font-family:Roboto,arial;
  }  
  body{
     margin: 0px;
     /* inheritance */
     /* color: red; */
     
     /* css position style */
     padding-top:80px;
    
     /* side-layout style */
     padding-left: 100px;
     padding-right: 30px;
     background-color: rgb(244, 243, 243);
  } 
  
