.header{
    height:55px; 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-logo{
    height: 24px;
}
.youtube-logo{
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.middle-section{
    flex:1;
    display: flex;
    margin-left:50px;
    margin-right: 35px;
    max-width:500px;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.08) ;
   
}
.search-bar::placeholder{
    font-family: Roboto,arial ;
    font-size: 16px;
    padding-left:10px ;
}
.search-logo{
    height: 32px;
    width: 60px;
    background-color: rgb(240, 240, 240);

    border-color: rgb(192,192,192);
    
}
.voice-logo{
    height: 25px;
    margin-top:4px ;
   

}
.right-section{
    background-color:lightpink;
    width:200px; 
}
